.expansion-panel-header {
  background: linear-gradient(90deg, #DBE8F0 5.21%, rgba(219, 232, 240, 0.00) 100%) !important;
  border-radius: 0.3vh 0.3vh 0 0 !important;
}

::ng-deep .report-section .mat-expansion-panel-body {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  font-size: 1.6rem;
}

.statusStyle {
  left: 20%;
  font-size: 1.8rem;
  min-width: 7.5vw;
}
