
<div class="cardGen colorGeyGradient">
    <div class="cardBody bgwhite w-100 h-100">
        <div class="w-100 h-13 px-2 py-3 position-relative">
            <h2><img src="./assets/images/icon-cd.svg" class="headingIcon prs" alt="Criticality Distribution"> Criticality Distribution    <img src="./assets/images/colorkit-black.svg" alt="export" matTooltipPosition="right" class="me-4" matTooltip="This Dashboard widget contains only the Published BCP details "></h2>
        </div>

        <div class="graphCd text-center">
          <div id="bcpcriticalitydistribution" style=" height: 29vh !important;overflow: hidden;margin-top: -2vh;"></div>

        </div>


    </div>
</div>
