::ng-deep .incident-comments .mat-expansion-panel-body {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.status{
  color: black !important;
  font-size: 1.6vh !important;
  font-weight: 600 !important;
}

::ng-deep .mat-outline .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
  top: 50% !important;
}

::ng-deep .mat-outline .mat-mdc-text-field-wrapper {
  height: 100% !important;
  flex: auto !important;
}

.mat-outline .mat-mdc-form-field-flex {
  display: inline-flex !important;
  align-items: baseline !important;
  box-sizing: border-box !important;
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .mat-outline .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 2.2;
  font-size: 110%;
}

::ng-deep .mat-outline .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  --mat-mdc-form-field-label-transform: translateY( -24.75px) scale(var(--mat-mdc-form-field-floating-label-scale, .75));
  transform: var(--mat-mdc-form-field-label-transform);
}
