<div class="d-flex justify-content-end align-items-center w-xl-60 p-3 h-9">
  <div class="applyFilter addDesktop position-relative text-left me-4" style="margin-bottom: 0.4em;">
    <button type="button" class="btn btn-dark btnGradient" data-toggle="modal" id="titleID"
      [attr.data-target]="'#modal-' + this.pID" (click)="onClick(this.pID)" *ngIf = '!this.enableAddButton'>{{this.headerTitle}}</button>
    <span class="position-absolute vmiddleLeft text-white iconPositionLeft" (click)="onClick(this.pID)"><img
        src="./assets/images/icon-add-desktop.svg"></span>
  </div>

  <div class="d-inline-block position-relative searchInput me-2">
    <input placeholder="Search" class="form-control tblfilter" id="siteSearch" matInput
    [(ngModel)]="searchQuery" (input)="applyFilter()">
    <span class="position-absolute vmiddleRight iconPositionRight"><i class="fa fa-search"
        aria-hidden="true"></i></span>
  </div>
</div>
<div class="table-model-bg h-85 px-3 w-100 py-4">
  <div class="h-100 pb-3 w-100">
    <div class="cardGen colorGeyGradient h-100">
      <div class="cardBody singleRow w-100 h-100">
        <div class="w-100 h-100 px-2 py-3 position-relative">
          <div class="w-100 h-6">
            <h2 class="h-100 text-start"><img src="./assets/images/icon-bcpc.svg" class="headingIcon longBox icokKPI">
              {{this.DisplayName}}</h2>
          </div>
          <div class="w-100 h-94">
            <section class="w-100 vscroll tableContent  h-100" tabindex="0">
              <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort class="table-striped" id="masterID">

                <ng-container matColumnDef="Index">
                  <th mat-header-cell *matHeaderCellDef> #</th>
                  <td mat-cell *matCellDef="let element  let i = index"> {{i+1}}</td>
                </ng-container>

                <ng-container *ngFor="let column of staticColumns" [matColumnDef]="column">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header="NAME" >
                    <!-- {{ column == 'NAME' ? splitCamelCase(this.title) : column }} -->
                    {{ column === 'NAME' ? splitCamelCase(this.DisplayName) : (column === 'Country Name' ? 'Country' : (column === 'State Name' ? 'State' : column)) }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span [ngClass]="element.IsActive ? '' : 'disable-color'">{{element[column]}}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status Enabled / Disabled</th>
                  <td mat-cell *matCellDef="let row">
                    <mat-slide-toggle [(ngModel)]="row.IsActive" [checked]="row.IsActive == null? false: row.IsActive" [disabled]="row.IslinkedRecord"
                    [matTooltip]="row.IslinkedRecord ? row.NAME+' - is mapped in other page' : ''"  (change)="approve(row)" >
                    </mat-slide-toggle> &nbsp;<span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                      'Disabled'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action" >
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [id]="'editID'" (click)="edit_site_Form(row)" [disabled]="!row.IsActive">
                      <img src="./assets/images/icon-edit.svg">
                    </button>
                  </td>
                </ng-container>
                  <tr mat-header-row *matHeaderRowDef="headerRow?.concat(['status','action']);sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: headerRow?.concat([ 'status','action'])" ></tr>
                  <tr *matNoDataRow><td [attr.colspan]="headerRow?.concat([ 'status','action'])?.length">No data found.</td></tr>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
    </div>

  </div>

</div> -->


<!-- MAODAL ONE -->


<!-- END MAODAL ONE -->
