.disabled-btn {
  background-color: #eee; /* Light gray background */

  background-color: #9da0a3 !important;
  cursor: not-allowed; /* Change cursor to indicate button is disabled */
}

.modalColorBtn .modalColorBtnDarkGrey{
  background-color: #5F6468 !important;

}
