<div class="loginbox">
	<div class="logincontent">
	  <div class="text-center mb-3">
		<img src="assets/images/grc-logo.png" width="60%" alt="Governance, Risk & Compliance" />
	  </div>

	  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
		<h2 class="lgn-head mb-3">Forgot Password</h2>

		<mat-form-field class="input-field w-100" appearance="outline">
		  <mat-label>User ID *</mat-label>
		  <input matInput formControlName="userId" />
		  <mat-error *ngIf="forgotPasswordForm.get('userId')?.invalid">User ID is required</mat-error>
		</mat-form-field>

		<mat-form-field class="input-field w-100 mt-2" appearance="outline">
		  <mat-label>Email ID *</mat-label>
		  <input matInput type="email" formControlName="email" />
		  <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">Enter a valid Email ID</mat-error>
		</mat-form-field>

		<mat-form-field class="input-field w-100 mt-2" appearance="outline">
		  <mat-label>First Name *</mat-label>
		  <input matInput formControlName="firstName" />
		  <mat-error *ngIf="forgotPasswordForm.get('firstName')?.invalid">First Name is required</mat-error>
		</mat-form-field>

		<mat-form-field class="input-field w-100 mt-2" appearance="outline">
		  <mat-label>Last Name *</mat-label>
		  <input matInput formControlName="lastName" />
		  <mat-error *ngIf="forgotPasswordForm.get('lastName')?.invalid">Last Name is required</mat-error>
		</mat-form-field>

		<mat-form-field class="input-field w-100 mt-2" appearance="outline">
		  <mat-label>Type New Password *</mat-label>
		  <input matInput type="password" formControlName="newPassword" />
		  <mat-error *ngIf="forgotPasswordForm.get('newPassword')?.invalid">
			Password is required and must be at least 6 characters long
		  </mat-error>
		</mat-form-field>

		<mat-form-field class="input-field w-100 mt-2 position-relative" appearance="outline">
		  <mat-label>Confirm New Password *</mat-label>
		  <input matInput type="password" formControlName="confirmPassword" />
		  <mat-error *ngIf="forgotPasswordForm.get('confirmPassword')?.invalid">
			Passwords must match
		  </mat-error>
		</mat-form-field>

		<div class="mt-3 text-end w-100">
		  <button mat-button class="btncancel" color="warn" type="button" (click)="onCancel()">Cancel</button>
		  <button
			mat-raised-button
			class="btnlogin"
			color="primary"
			type="submit"
			[disabled]="forgotPasswordForm.invalid"
		  >
			Next
		  </button>
		</div>
	  </form>
	</div>
  </div>
