mat-form-field {
  display: block;
}

.text-area {
  text-align: left;
  background-color: white;
  line-height: 1.2;
  font-size: 110%;
  overflow-y: auto;
  height: 9vh !important;
}

::ng-deep .addThreat tbody td {
  vertical-align: middle !important;
}

.mat-mdc-table {
  background: none !important;
}

.modalTble.seablueTble tr:hover {
  background-color: hsl(0deg 0% 100% / 68%) !important;
}

.modalTble.seablueTble.mat-mdc-row:nth-child(odd){
  background-color: #ffffff66 !important;
}
