.expansion-panel-header {
  background: linear-gradient(90deg, #DBE8F0 5.21%, rgba(219, 232, 240, 0.00) 100%) !important;
  border-radius: 0.3vh 0.3vh 0 0 !important;
}

::ng-deep .test-details .mat-expansion-panel-body {
  padding: 0 !important;
}
