.dropdown-toggle::after {
  margin-right: 0.255em;
  margin-left: 0.125em;
  vertical-align: 0.125em;
}
.notificationalert {
  border-radius: 50%;
  background-color: #e1141e !important;
  height: 1.3vh;
  width: 1.2vh;
  position: absolute;
  top: 0.5vh;
  right: 0.2vw;
}

// ::ng-deep.cdk-overlay-connected-position-bounding-box {
//   left: auto !important;
//   width: auto !important;
// }
.disabled-header {
  pointer-events: none;
  opacity: 0.5;  /* You can adjust the opacity to visually show it as disabled */
  /* You can also add other styles to indicate that the header is disabled */
}
