<div class="w-100 h-6 px-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light topmenuBg h-100">
    <a class="navbar-brand BCMTrac" href="#"><img src="./assets/images/logo.svg" alt="BCMTrac"></a>
    <button class="navbar-toggler rightToggle" type="button" data-toggle="collapse" data-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse forMnuToggle justify-content-end" id="navbarScroll"  [ngClass]="{'disabled-header': !headerFlag}">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll topnav">
        <li class="nav-item rightBorder" [ngClass]="{'active': makeTabActive === 'Home' }">
          <button mat-icon-button (click)="navigateToLanding()" class="pb-1 me-2" id="Home"><img
              src="./assets/images/icon-home.svg" class="pb-1" alt="Home" style="cursor: pointer;"></button>
        </li>


        <li  class="nav-item ms-xl-1 mt-1" [ngClass]="{'active': makeTabActive === 'dashboard' }"
          [routerLink]="['/dashboard']">
          <a *ngIf="isSCUserNBCMUnitUser" class="nav-link" style="cursor: pointer;" id="Dashboard">
            <img src="./assets/images/icon-dashboard.svg" alt="Dashboard">
            Dashboard</a>
        </li>

        <li class="nav-item mt-1" [ngClass]="{'active': makeTabActive === 'BC' }"
          [routerLink]="['/business-impact-analysis']">
          <a class="nav-link" routerLinkActive="active" style="cursor: pointer;" id="BusinessContinuity"><img
              src="./assets/images/icon-business-continuity.svg" alt="Business Continuity" class="pb-2">
            Business Continuity</a>
        </li>

        <li class="nav-item mt-1" [ngClass]="{'active': makeTabActive === 'CrisisManagement' }"
          [routerLink]="['/incident-report']">
          <a class="nav-link" routerLinkActive="active" style="cursor: pointer;"><img src="./assets/images/icon-cm.svg"
              style="width: 12% !important;" alt="Crisis Management" class="pb-2">
            Crisis Management</a>
        </li>

        <li class="nav-item mt-1" [ngClass]="{'active': makeTabActive === 'ComplianceReview' }"
          [routerLink]="['/remediation-tracker']">
          <a class="nav-link" routerLinkActive="active" style="cursor: pointer;"><img
              src="./assets/images/icon-compliance.svg" style="width: 12% !important;" alt="Compliance" class="pb-2">
              Remediation Tracker</a>
        </li>


        <li class="nav-item" [ngClass]="{'active': makeTabActive === 'master-data'}" *ngIf="isBCMFA">
          <a class="dropdown-toggle text-white ps-2 mt-1 nav-link" href="#" id="masterData" role="button"
            data-bs-toggle="dropdown" (click)="onclickMaster()" aria-expanded="false"><img
              src="./assets/images/icon-master-data.svg" style="width: 2vh;" alt="Master Data">
            Master Data</a>

          <div class="dropdown-menu dropdown-menu-dark gradientDropdown" aria-labelledby="masterData">
            <div class="h-100 menuContent">
              <div class="menuList listOne" *ngFor="let masters of formattedHeaders">
                <ul class="w-100">
                  <li *ngFor="let each of masters">
                    <ng-container [ngSwitch]="each.PageID == ''">
                      <div *ngSwitchCase="true">
                        <a class="dropdown-item" [routerLink]="'/' + each.routeLink">{{each.DisplayName}}</a>
                      </div>
                      <div *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="handleButtonClick(each)" routerLink="master-data/allPages"
                          [attr.data-target]="'#nav-' + each.PageID" role="tab"
                          [attr.aria-controls]="'nav-' + each.PageID">{{each.DisplayName}}</a>
                      </div>
                    </ng-container>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- <li class="nav-item me-1" [ngClass]="{'active': makeTabActive == 'notification' }"  [matMenuTriggerFor]="menuNotifications" #menuContacts="matMenuTrigger">
          <a class="nav-link" routerLinkActive="active"  id="dynamic-config" (click)="openBellIcon(true)">
            <span [ngClass]="this.unreadItems > 0 ? 'notificationalert': ''"></span>
            <mat-icon>
                <img [src]="newNotifications(this.unreadItems)" style="width: 3vh !important;height: 2.6vh !important;margin-bottom: 1vh !important;">
            </mat-icon>
          </a>
        </li> -->
        <button mat-icon-button class="example-icon"
        [matMenuTriggerFor]="menuNotifications"
        (click)="openBellIcon(true)"
        #menuContacts="matMenuTrigger">
  <span [ngClass]="this.unreadItems > 0 ? 'notificationalert' : ''"></span>
  <mat-icon>
    <img [src]="newNotifications(this.unreadItems)"
         width="100%" height="100%" style="margin-bottom: 1vh;">
  </mat-icon>
</button>


        <li class="nav-item me-1" [ngClass]="{'active': makeTabActive === 'configure-setting' }" *ngIf="API_URL_DEV">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['master-data/configure']" id="dynamic-config">
            <img src="./assets/images/icon-gear.svg" alt="Setting" style="width: 1.5vw">
          </a>
        </li>

        <li class="nav-item rightBorder ms-xl-1">
          <!-- <a class="nav-link" href="#"><img src="./assets/images/icon-help.svg" alt="Help"></a> -->
        </li>
      </ul>
      <!-- <div style="height: 4vh;">
        <img matTooltipPosition="below" matTooltip="{{userName}}"
          style="background-color: white; border-radius: 50%; margin: 0px 0.8vw;" src="./assets/images/icon-user.svg"
          height="100%">
      </div>
      <div class="text-white ps-1 pe-1">{{userName}}</div>
      <button mat-icon-button class="example-icon text-white" style="padding: 6px !important" aria-label="Logout" id="logout"
        (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button> -->
      <form class="d-flex text-end">
        <a class="dropdown-toggle text-white userdot nav-link" href="#" id="userLogin" role="button"
          data-bs-toggle="dropdown" style="text-decoration: underline;" aria-expanded="false">{{userName}} <img
            src="./assets/images/icon-user.svg" class="userProfile" alt="User"> </a>
        <div class="dropdown-menu dropdown-menu-dark gradientDropdown userLogin" aria-labelledby="userLogin">
          <div class="d-flex justify-content-start w-100 h-100">
            <div class="menuList listOne h-100 w-100">
              <ul class="w-100 mb-0">
                <li style="cursor: pointer;"><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
      <div style="margin-top: 1.3vh; height: 6.2vh; margin-bottom: 1vh; border-left: 1px solid #ffffff69;">
        <mat-menu #menuNotifications="matMenu" (closed)="onMenuClosed()">
          <app-notification
            *ngIf="triggerNotificationService"
            (triggerNotificationService)="setValue($event, menuContacts)">
          </app-notification>
        </mat-menu>
      </div>

    </div>
  </nav>
</div>


<div class="w-100 topFilter pt-4 h-6 position-relative px-3" *ngIf="makeTabActive === 'BC'">
  <nav class="h-100">
    <div class="nav nav-tabs top-nav-tabs h-100" id="nav-tab" role="tablist">
      <button class="nav-link topTabBg p-2 h-100" id="nav-business-impact-analysis-tab" type="button" role="tab"
        aria-controls="nav-business-impact-analysis-fnc" aria-selected="false"
        [routerLink]="['/business-impact-analysis']" (click)="setcontinuityTab('business-impact-analysis')"
        [ngClass]="selectedContinuitytab == 'business-impact-analysis'? 'active': ''">Business Impact
        Analysis</button>

        <button class="nav-link topTabBg p-2 h-100" id="nav-business-continuity-plan-tab" type="button" role="tab"
        aria-controls="nav-business-continuity-plan-fnc" aria-selected="false"
        [routerLink]="['/business-continuity-plan']" (click)="setcontinuityTab('business-continuity-plan')"
        [ngClass]="selectedContinuitytab == 'business-continuity-plan'? 'active': ''">Business Continuity
        Plans</button>

      <button class="nav-link topTabBg p-2 h-100" id="nav-site-risk-fnc-tab" type="button" role="tab"
        aria-controls="nav-site-risk-fnc" aria-selected="false" [routerLink]="['/site-risk-assessments']"
        (click)="setcontinuityTab('site-risk-assessments')"
        [ngClass]="selectedContinuitytab == 'site-risk-assessments'? 'active': ''">Site Risk Assessments</button>

      <button class="nav-link topTabBg p-2 h-100" id="nav-bcmsTesting-tab" type="button" role="tab"
        aria-controls="nav-bcmsTesting-fnc" aria-selected="false" [routerLink]="['/bcms-testing']"
        (click)="setcontinuityTab('bcms-testing')"
        [ngClass]="selectedContinuitytab == 'bcms-testing'? 'active': ''">BCMS Testing</button>
    </div>
  </nav>
</div>

<div class="w-100 topFilter pt-4 h-6 position-relative px-3" *ngIf="makeTabActive === 'CrisisManagement'">
  <nav class="h-100">
    <div class="nav nav-tabs top-nav-tabs h-100" id="nav-tab" role="tablist">
      <button class="nav-link topTabBg p-2 h-100" id="nav-incident-report-fnc-tab" type="button" role="tab"
        aria-controls="nav-incident-report-fnc" aria-selected="false" [routerLink]="['/incident-report']"
        (click)="setcontinuityTab('incident-report')"
        [ngClass]="selectedContinuitytab == 'incident-report'? 'active': ''">Incident Report</button>

      <button class="nav-link topTabBg p-2 h-100" id="nav-crisis-comm-fnc-tab" type="button" role="tab"
        aria-controls="nav-crisis-comm-fnc" aria-selected="false" [routerLink]="['/crisis-communication']"
        (click)="setcontinuityTab('crisis-communication')"
        [ngClass]="selectedContinuitytab == 'crisis-communication'? 'active': ''">Crisis Communication</button>
    </div>
  </nav>
</div>

<div class="w-100 topFilter pt-4 h-6 position-relative px-3" *ngIf="makeTabActive === 'ComplianceReview'">
  <nav class="h-100">
    <div class="nav nav-tabs top-nav-tabs h-100" id="nav-tab" role="tablist">
      <!-- <button class="nav-link topTabBg p-2 h-100" id="nav-compliance-fnc-tab" type="button" role="tab"
        aria-controls="nav-compliance-fnc" aria-selected="false" [routerLink]="['/compliance']"
        (click)="setcontinuityTab('compliance')"
        [ngClass]="selectedContinuitytab == 'compliance'? 'active': ''">Compliance</button> -->

      <button class="nav-link topTabBg p-2 h-100" id="nav-remediation-tracker-fnc-tab" type="button" role="tab"
        aria-controls="nav-remediation-tracker-fnc" aria-selected="false" [routerLink]="['/remediation-tracker']"
        (click)="setcontinuityTab('remediation-tracker')"
        [ngClass]="selectedContinuitytab == 'remediation-tracker'? 'active': ''">Remediation Tracker</button>
    </div>
  </nav>
</div>

<div class="w-100 topFilter pt-4 h-6 position-relative px-3" *ngIf="makeTabActive === 'dashboard'">
  <nav class="h-100">
    <div class="nav nav-tabs top-nav-tabs h-100" id="nav-tab" role="tablist">
      <button class="nav-link topTabBg p-2 h-100" id="nav-dashboard-tab" type="button" role="tab"
        aria-controls="nav-dashboard-fnc" aria-selected="false" [routerLink]="['/dashboard']"
        (click)="setcontinuityTab('global-dashboard')"
        [ngClass]="selectedContinuitytab == 'global-dashboard'? 'active': ''">Global Dashboard</button>
    </div>
  </nav>
</div>


<style>
  .mat-mdc-menu-panel.mat-mdc-menu-panel {position: absolute !important;}
</style>
