.mat-mdc-row:nth-child(even){
  background-color: #CEDCE0;
}

.mat-mdc-row:nth-child(odd){
  background-color: hsla(0, 0%, 100%, 0.40);;
}

.modalColorBtn {
  background-color: #245A8C;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.45);
  font-size: 1.6rem;
  border: none;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white !important;
}

.modalColorBtn.modalColorBtnGreen {
  background-color: #1C9F50;
}

.modalColorBtn.modalColorBtnGreen:hover,
.modalColorBtn.modalColorBtnGreen:active,
.btn-primary.modalColorBtn.modalColorBtnGreen:not(:disabled):not(.disabled):active {
  background-color: #27c064;
}

.text-area {
  text-align: left;
  background-color: white;
  line-height: 1.2 !important;
  font-size: 110% !important;
}
