<div class="modal-header bgSeaGreenGradient text-white allModalHeader">
  <h5 class="modal-title modalh5" id="staticBackdropLabel">{{parent.crisisModelHeader}}</h5>
  <button type="button" mat-icon-button class="close customClose example-icon" mat-dialog-close aria-label="Close" id="closeCrisisMessage" (click)="resetForm()">
    <span>&times;</span>
  </button>
</div>
<form [formGroup]="defineCrisisCommForm">
  <div class="modal-body greyModalBody vscroll" style="height: 56vh;">
    <div class="row mx-3">
      <div class="col-6 ps-0 pr-5">
        <div class="row mx-0">

          <div class="col-12 px-0">
            <label for="commTitle" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Communication Title <sup
                class="red">*</sup></label>
            <mat-form-field appearance="fill" class="w-100">
              <input matInput formControlName="communicationTitle" placeholder="Enter Communication Title" id="commTitle"
                (keyup)="checkTitleExists($event)" (keydown.enter)="$event.preventDefault()" />
            </mat-form-field>
            <mat-error *ngIf="(submitted || f['communicationTitle'].touched) && f['communicationTitle'].errors">Enter
              Communication title</mat-error>
            <mat-error *ngIf="titleExists">Communication Title already exists</mat-error>
          </div>

          <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Recipients <sup
            class="red">*</sup></label>
          <div class="w-100 ModaltableContent ModaltableContentBlue" formGroupName="recipentGroup">
            <div class="row mx-0" *ngIf="service.crisisInfoData && service.crisisInfoData.RecipentsOptionList?.length > 0">
              <div class="col-12 px-0">
                <label [for]="service.crisisInfoData.RecipentsOptionList[0].RecipentOptionID">
                  <input type="radio" mat-radio-button (change)="selectRecipentOption(service.crisisInfoData.RecipentsOptionList[0].RecipentOptionID); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[0].RecipentOptionID);"
                    name="recipents" [id]="service.crisisInfoData.RecipentsOptionList[0].RecipentOptionID"
                    aria-label="select"  [checked]="recipentOptionID == 1" [disabled]="isCrisisPublish">
                  {{service.crisisInfoData.RecipentsOptionList[0].RecipentOption}}</label>
              </div>

              <div class="col-xl-5 col-sm-6 ps-0 pe-4 position-relative">
                <div class="position-absolute vhmiddle w-100">
                  <label [for]="service.crisisInfoData.RecipentsOptionList[1].RecipentOptionID">
                    <input type="radio" mat-radio-button
                      (change)="selectRecipentOption(service.crisisInfoData.RecipentsOptionList[1].RecipentOptionID); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[1].RecipentOptionID);"
                      name="recipents" [id]="service.crisisInfoData.RecipentsOptionList[1].RecipentOptionID"
                      aria-label="select" [checked]="recipentOptionID == 2" [disabled]="isCrisisPublish">
                    {{service.crisisInfoData.RecipentsOptionList[1].RecipentOption}}</label>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 ps-4 pe-0">
                <mat-form-field appearance="fill">
                  <input type="text" matInput formControlName="specificSite" [matAutocomplete]="specificSite"  #autoCompleteSpecificSite
                    (input)="filterSpecificSites($event)" (keydown.enter)="$event.preventDefault()" id="specificSite" placeholder="Select Site"/>
                  <mat-autocomplete #specificSite="matAutocomplete">
                    <mat-option *ngFor="let site of filteredSpecificSites" [value]="site.SiteName"
                      (onSelectionChange)="setSpecificSiteID(site, $event); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[1].RecipentOptionID, $event);" [id]="site.SiteName">
                      {{ site.SiteName }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error *ngIf="submittedPG && (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 2) &&
                !defineCrisisCommForm.get('recipentGroup.specificSite')?.value">Select Site</mat-error>
                <mat-error *ngIf=" (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 2) && f1['specificSite'].touched && (filteredSpecificSites?.length == 0)">
                  No sites available</mat-error>
                <mat-error *ngIf="submittedPG && isSpecificSiteExists">Please select derived Site</mat-error>
              </div>

              <div class="col-12 px-0">
                <label [for]="service.crisisInfoData.RecipentsOptionList[2].RecipentOptionID">
                  <input type="radio" mat-radio-button
                    (change)="selectRecipentOption(service.crisisInfoData.RecipentsOptionList[2].RecipentOptionID); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[2].RecipentOptionID);"
                    name="recipents" [id]="service.crisisInfoData.RecipentsOptionList[2].RecipentOptionID"
                    aria-label="select" [checked]="recipentOptionID == 3" [disabled]="isCrisisPublish">
                  {{service.crisisInfoData.RecipentsOptionList[2].RecipentOption}}</label>
                <div class="radioFiterBg">
                  <div class="row mx-0">
                    <div class="col-6 px-0 position-relative mb-3">
                      <mat-form-field appearance="fill" class="w-100">
                        <input type="text" matInput formControlName="bussinessFun" placeholder="Search Business Groups / Functions.."
                          [matAutocomplete]="businessAuto" #autoCompleteBusinessFun (input)="filterBusinessList($event)"
                          (keydown.enter)="$event.preventDefault()" id="bussinessFun" />
                        <span class="position-absolute vmiddleRight iconPositionRight"><i class="fa fa-search"></i></span>
                        <mat-autocomplete #businessAuto="matAutocomplete">
                          <mat-option *ngFor="let business of filteredBusiness" [value]="business.BusinessFunctionsName"
                            (onSelectionChange)="setSelectedBusiness(business); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[2].RecipentOptionID, $event);" [id]="business.BusinessFunctionsName">
                            {{business.BusinessFunctionsName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <mat-error *ngIf="submittedPG && (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 3) &&
                        selectedBusiness?.length == 0">Select atleast one Business Function</mat-error>
                      <mat-error *ngIf=" (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 3) && f1['bussinessFun'].touched && (filteredBusiness?.length == 0)">
                        No business functions available</mat-error>
                    </div>
                    <div _ngcontent-ng-c364572589="" class="col-6 mb-3"></div>
                  </div>
                  <div class="col-6 mb-3"></div>
                  <ng-container *ngIf="(defineCrisisCommForm.get('recipentGroup.recipents')?.value == 3)">
                    <div *ngFor="let business of selectedBusiness" class="blueCrossFilter position-relative d-inline-block me-2 mt-1 w-auto"
                      [matTooltip]="(business.BusinessFunctionsName)?.length > 50 ? (business.BusinessFunctionsName) : ''">{{checkLength(business.BusinessFunctionsName, 50)}}
                      <span (click)="removeSelectedBusiness(business); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[2].RecipentOptionID);" class="vmiddleRight position-absolute" *ngIf="!isCrisisPublish" >X</span>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="col-12 px-0 mt-4">
                <label [for]="service.crisisInfoData.RecipentsOptionList[3].RecipentOptionID">
                  <input type="radio" mat-radio-button
                    (change)="selectRecipentOption(service.crisisInfoData.RecipentsOptionList[3].RecipentOptionID); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[3].RecipentOptionID);"
                    name="recipents" [id]="service.crisisInfoData.RecipentsOptionList[3].RecipentOptionID"
                    aria-label="select" [checked]="recipentOptionID == 4" [disabled]="isCrisisPublish">
                  {{service.crisisInfoData.RecipentsOptionList[3].RecipentOption}}</label>
                <div class="radioFiterBg">
                  <div class="row mx-0">
                    <div class="col-6 px-0 position-relative mb-3">
                      <mat-form-field appearance="fill" class="w-100">
                        <input type="text" matInput formControlName="customSites" placeholder="Search Sites.."
                          [matAutocomplete]="siteAuto" #autoCompleteSites (input)="filterSitesList($event)"
                          (keydown.enter)="$event.preventDefault()" id="customSites" />
                        <span class="position-absolute vmiddleRight iconPositionRight"><i class="fa fa-search"></i></span>
                        <mat-autocomplete #siteAuto="matAutocomplete">
                          <mat-option *ngFor="let site of filteredSites" [value]="site.SiteName"
                            (onSelectionChange)="setSelectedSite(site); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[3].RecipentOptionID);" [id]="site.SiteName">
                            {{site.SiteName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <mat-error *ngIf="submittedPG && (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 4) &&
                        selectedSites?.length == 0">Select atleast one Site</mat-error>
                      <mat-error *ngIf=" (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 4) && f1['customSites'].touched &&  (filteredSites?.length == 0)">
                        No sites available</mat-error>
                    </div>
                    <div class="col-6 mb-3"></div>
                    <ng-container *ngIf="(defineCrisisCommForm.get('recipentGroup.recipents')?.value == 4)">
                      <div *ngFor="let sites of selectedSites"  class="blueCrossFilter position-relative d-inline-block me-2 mb-1 mt-1 w-auto"
                      [matTooltip]="(sites.SiteName)?.length > 50 ? (sites.SiteName) : ''">{{checkLength(sites.SiteName, 50)}}
                        <span (click)="removeSelectedSites(sites); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[3].RecipentOptionID);" class="vmiddleRight position-absolute"*ngIf="!isCrisisPublish" >X</span></div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="col-12 px-0 mt-4">
                <label [for]="service.crisisInfoData.RecipentsOptionList[4].RecipentOptionID">
                  <input type="radio" mat-radio-button
                    (change)="selectRecipentOption(service.crisisInfoData.RecipentsOptionList[4].RecipentOptionID); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[4].RecipentOptionID);"
                    name="recipents" [id]="service.crisisInfoData.RecipentsOptionList[4].RecipentOptionID"
                    aria-label="select" [checked]="recipentOptionID == 5" [disabled]="isCrisisPublish">
                  {{service.crisisInfoData.RecipentsOptionList[4].RecipentOption}}</label>
                <div class="radioFiterBg">
                  <div class="row mx-0">
                    <div class="col-6 px-0 position-relative mb-3">
                      <mat-form-field appearance="fill" class="w-100">
                        <input type="text" matInput formControlName="customRecipients"
                          placeholder="Search business owner ..." [matAutocomplete]="recipientAuto"
                          #autoCompleteCustomRecipients (input)="filterRecipientsList($event)"
                          (keydown.enter)="$event.preventDefault()" id="customRecipients" />
                        <span class="position-absolute vmiddleRight iconPositionRight"><i class="fa fa-search"></i></span>
                        <mat-autocomplete #recipientAuto="matAutocomplete">
                          <mat-option *ngFor="let item of filteredFBCCAndFBCTs" [value]="item.UserName"
                            (onSelectionChange)="setSelectedRecipient(item); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[4].RecipentOptionID);" [id]="item.UserName">
                            {{item.UserName}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <mat-error *ngIf="submittedPG && (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 5) &&
                      selectedFBCCAndFBCTs?.length == 0">Select atleast one business owner </mat-error>
                      <mat-error *ngIf=" (defineCrisisCommForm.get('recipentGroup.recipents')?.value == 5) && f1['customRecipients'].touched && (filteredFBCCAndFBCTs?.length == 0)">
                        No business owner available</mat-error>
                    </div>
                    <div class="col-6 mb-3"></div>
                    <ng-container *ngIf="(defineCrisisCommForm.get('recipentGroup.recipents')?.value == 5)">
                      <div *ngFor="let items of selectedFBCCAndFBCTs" class="blueCrossFilter position-relative d-inline-block me-2 mt-1 w-auto"
                        [matTooltip]="(items.UserName)?.length > 50 ? (items.UserName) : ''">{{checkLength(items.UserName, 50)}}
                      <span (click)="removeRecipientSites(items); filterRecipientsIncidents(service.crisisInfoData.RecipentsOptionList[4].RecipentOptionID);" class="vmiddleRight position-absolute" *ngIf="!isCrisisPublish">X</span>
                    </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-error *ngIf="(submitted || f1['recipents'].touched) && f1['recipents'].errors" class="ps-0">Please select Recipient Option</mat-error>
          <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Attachments</label>
          <div class="w-100 ModaltableContent ModaltableContentBlue">
            <div class="w-100 h-14 vscroll" >
              <table class="w-100 modalTble seablueTble smallTable">
                <tbody>
                  <tr *ngIf="service?.uploadedAttachments?.length == 0" style="height: 5vw;">
                    <td class="w-100 text-center"> No Attachments </td>
                  </tr>
                  <tr *ngFor="let file of service.uploadedAttachments;index as i">
                    <td class="w-4">{{i+1}}</td>
                    <td class="w-65" (click)="service.downloadFile(file.FileContentID)" [id]="'download'+ file.AttachmentID" class="cursor-pointer"><img src="./assets/images/icon-attachment.svg" >
                      <a class="tblLnk">{{file.AttachmentName}}</a>
                    </td>
                    <td class="w-26">{{formatedDate(file.CreatedDate)}}</td>
                    <td class="w-5" *ngIf="!isCrisisPublish">
                      <button mat-icon-button class="custom-button" style="padding-left: 0.5rem;" (click)="service.deleteUploadCrisisAttachment(file.FileContentID)"
                        [id]="'delete'+ file.FileContentID" alt="delete"><img src="./assets/images/icon-delete-black.svg"></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="w-100 px-0 text-end py-4" *ngIf="!isCrisisPublish">
              <div>
                <button type="button" class="btn btn-primary modalColorBtn modalColorBtnGreen" (click)="openFileUploadPopup()"
                  id="addEvidence"><span class="fw-bold"> <img src="./assets/images/icon-attachment.svg"
                    style="filter: invert(); width: 8%;" alt="">
                  </span> Attach Supporting Document
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 ps-5 pr-0">
        <div class="row mx-0">
          <div class="col-6 ps-0 pr-2">
            <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Category <sup
              class="red">*</sup></label>
            <div class="col-12 p-0 mb-2 position-relative">
              <mat-form-field appearance="fill" class="w-100">
                <input type="text" matInput formControlName="crisisCategory" [matAutocomplete]="crisisCategory"
                  #autoCompleteCategory (input)="filterCrisisCategroryList($event)" placeholder="Select Category"
                  (keydown.enter)="$event.preventDefault()" id="crisisCategory" />
                <mat-autocomplete #crisisCategory="matAutocomplete">
                  <mat-option *ngFor="let category of filteredCrisisCategoryList" [value]="category.CrisisCategory"
                    (onSelectionChange)="setCrisiCategory(category)" [id]="category.CrisisCategory">
                    {{ category.CrisisCategory }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error *ngIf="(submitted || f['crisisCategory'].touched) && f['crisisCategory'].errors">Select
                Category</mat-error>
              <mat-error *ngIf="submitted && isCategoryExists">Please select derived Category</mat-error>
            </div>
          </div>
          <div class="col-6 ps-2 pr-0">
            <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Communication ID</label>
            <mat-form-field appearance="fill" class="w-100">
              <input matInput formControlName="communcationCode" (keydown.enter)="$event.preventDefault()" id="communcationCode"
                placeholder="ID will be auto generated after message creation"/>
            </mat-form-field>
            <mat-error *ngIf="(submitted || f['communcationCode'].touched) && f['communcationCode'].errors">Enter Communication Code</mat-error>
          </div>

          <div class="col-12 px-0">
            <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Related Incident <sup
                class="red">*</sup></label>
            <div class="col-12 p-0 mb-2 position-relative" >
              <mat-form-field appearance="fill" class="w-100" [matTooltip]="getToolTipValue('1')">
                <mat-select matSelectSearch formControlName="relatedIncidentId"  id="relatedIncidentId" placeholder="Select Incident Locations" multiple>
                  <mat-option *ngFor="let inc of filteredRelatedIncidents" [value]="inc.IncidentID"
                     [id]="inc.IncidentID">{{inc.IncidentCode}}-{{inc.Incident}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="(submitted || f['relatedIncidentId'].touched) && f['relatedIncidentId'].errors && !(filteredRelatedIncidents?.length == 0)">Select Related Incident</mat-error>
              <mat-error *ngIf="f['relatedIncidentId'].touched && filteredRelatedIncidents?.length == 0">No data available</mat-error>
            </div>
          </div>

          <div class="col-12 px-0">
            <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Pick Email Communication Template
              <sup class="red">*</sup></label>
            <div class="col-12 p-0 mb-2 position-relative">
              <mat-form-field appearance="fill" class="w-100" [matTooltip]="getToolTipValue('2')">
                <input type="text" matInput formControlName="emailTemplate" [matAutocomplete]="template"
                  #autoCompleteEmailTemplate (input)="filterEmailTemplateList($event)" (keydown.enter)="$event.preventDefault()"
                  id="emailTemplate" placeholder="Search Email Communication Template"/>
                <mat-autocomplete #template="matAutocomplete">
                  <mat-option *ngFor="let template of filteredTemplateList" [value]="template.EmailTemplateName"
                    (onSelectionChange)="setTemplate(template, $event)" [id]="template.EmailTemplateName">
                    {{ template.EmailTemplateName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error *ngIf="(submitted || f['emailTemplate'].touched) && f['emailTemplate'].errors">Select
                Email Communicaton Template</mat-error>
              <mat-error *ngIf="submitted && isTemplateExists">Please select derived Template</mat-error>
              <mat-error *ngIf="filteredTemplateList?.length == 0">No email template available </mat-error>
            </div>
          </div>
          <div class="col-12 px-0">
            <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Email Title <sup
              class="red">*</sup></label>
              <mat-form-field appearance="fill" class="w-100" [matTooltip]="getToolTipValue('3')">
                <input type="text" matInput formControlName="emailTitle" id="emailTitle" />
              </mat-form-field>
            <mat-error *ngIf="(submitted && f['emailTitle'].errors)">Please Provide Email Title </mat-error>
          </div>
          <div class="col-12 px-0" *ngIf="intializeCKEditor">
            <label for="" class="w-100 p-0 col-form-label slctLbl text-start mt-4">Customize Email Content <sup
                class="red">*</sup></label>
            <ckeditor formControlName="customizeEmailContent" id="emailContent" [readOnly]="isCrisisPublish"
              [config]="(!isCrisisPublish)? ckeConfig : disabledCkeConfig" [editorUrl]="ckeConfig.ckeditorUrl" debounce="300"></ckeditor>
            <mat-error *ngIf="(submitted || f['customizeEmailContent'].touched) && f['customizeEmailContent'].errors">Please Provide Email Content</mat-error>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-error *ngIf="saveerror">{{saveerror}}</mat-error>
  <div class="modal-footer modalFooter">
    <button type="button" class="btn btn-secondary modalCancelBtn me-2" id="cancelCrisisMessage" mat-dialog-close (click)="resetForm()" >Cancel</button>
    <button type="button" class="btn btn-primary modalColorBtn" [disabled]="isCrisisPublish" (click)="ValidateForm()" id="saveCrisisMessage">
      <img src="./assets/images/icon-application.svg" alt=""> {{parent.crisisMode == 'Add'? 'Create' : 'Save'}} Draft</button>
  </div>
</form>
