<div class="cardGen colorGeyGradient srCard">
  <div class="cardBody bgwhite w-100 h-100">
    <div class="w-100 h-20 px-2 py-3 position-relative">
      <h2><img src="./assets/images/icon-prs.svg" class="headingIcon prs" alt="Periodic Review Status"> Periodic
        Review Status</h2>
      <div class="bcpcContent">
        <p class="cardParagraph prs mb-0">
          Status of all periodic reviews (once a year) across submodules
        </p>
      </div>

    </div>
    <div class="position-relative h-80 w-100 pe-2 text-center py-2 d-flex justify-content-start">
      <!-- <div class="graphCd text-center"> -->
        <div id="containerSRABCMS" style="height: 100% !important; overflow: hidden; width: 52%;"></div>
      <!-- </div> -->
    <!-- <div class="graphCd text-center"> -->
        <div id="containerBIA" style="height: 100% !important; overflow: hidden; width: 48%;"></div>
    <!-- </div> -->
    </div>
  </div>
</div>
