<div style="display: flex; flex-direction: column; justify-content: space-between; width: 30vw;" *ngIf="changepassword">
  <!-- Toolbar -->
  <mat-toolbar style="display: flex; justify-content: space-between; align-items: center;
                      background-image: linear-gradient(to left, #009873, #0B65A0);">
    <div style="padding-left: 10px;">{{ title }}</div>
    <button mat-icon-button title="Close" cdkFocusInitial mat-dialog-close>
      <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
    </button>
  </mat-toolbar>

  <!-- Form Fields Section -->
  <div class="data-container" style="padding: 2rem;">
    <form [formGroup]="ChangePasswordForm" autocomplete="off" style="display: flex; flex-direction: column; gap: 1.5rem;">

      <!-- Old Password -->
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldpassword" required />
        <img matSuffix src="/assets/icon-key.svg" style="width: 3vmin; cursor: pointer;"
        [title]="CHANGE_PASSWORD_CONFIG?.TOOL_TIP_MESSAGE" />
        <mat-error *ngIf="(submitted || ChangePasswordForm?.get('oldpassword')?.touched) && ChangePasswordForm?.get('oldpassword')?.errors">
          <div *ngIf="ChangePasswordForm?.get('oldpassword')?.errors?.['required']">
            Old Password is required
          </div>
          <div *ngIf="ChangePasswordForm?.get('oldpassword')?.errors?.['minlength']">Password must be at least {{ CHANGE_PASSWORD_CONFIG_MIN_LENGTH }} characters long</div>
          <div *ngIf="ChangePasswordForm?.get('oldpassword')?.errors?.['maxlength']">Old Password cannot be more than {{ CHANGE_PASSWORD_CONFIG_MAX_LENGTH }} characters long</div>
          <div *ngIf="ChangePasswordForm.controls['oldpassword'].hasError('pattern') && ChangePasswordForm.controls['oldpassword'].touched && 
          ChangePasswordForm.get('oldpassword')?.value.length >=  CHANGE_PASSWORD_CONFIG_MIN_LENGTH && ChangePasswordForm.get('oldpassword')?.value.length <= CHANGE_PASSWORD_CONFIG_MAX_LENGTH"> Your password doesn't meet our password policy.</div>
        </mat-error>
      </mat-form-field>
      <!-- New Password -->
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newpassword" required />
        <img matSuffix src="/assets/icon-key.svg" style="width: 3vmin; cursor: pointer;"
             [title]="CHANGE_PASSWORD_CONFIG?.TOOL_TIP_MESSAGE" />
        <mat-error *ngIf="submitted || ChangePasswordForm?.get('newpassword')?.errors">
          <div *ngIf="ChangePasswordForm?.get('newpassword')?.errors?.['required']">New Password is required</div>
          <div *ngIf="ChangePasswordForm?.get('newpassword')?.errors?.['minlength']">Password must be at least {{ CHANGE_PASSWORD_CONFIG_MIN_LENGTH }} characters long</div>
          <div *ngIf="ChangePasswordForm?.get('newpassword')?.errors?.['maxlength']">New Password cannot be more than {{ CHANGE_PASSWORD_CONFIG_MAX_LENGTH }} characters long</div>
          <div *ngIf="ChangePasswordForm.controls['newpassword'].hasError('pattern') && ChangePasswordForm.controls['newpassword'].touched && 
          ChangePasswordForm.get('newpassword')?.value.length >=  CHANGE_PASSWORD_CONFIG_MIN_LENGTH && ChangePasswordForm.get('newpassword')?.value.length <= CHANGE_PASSWORD_CONFIG_MAX_LENGTH"> Your password doesn't meet our password policy.</div>
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="confirmCPassword" required />
        <img matSuffix [src]="showPassword ? '/assets/icon-eye-field.svg' : '/assets/login-show.svg'"
             style="width: 3vmin; cursor: pointer;"
             (mousedown)="showPassword = true" (mouseup)="showPassword = false" />
        <mat-error *ngIf="submitted && (ChangePasswordForm?.get('confirmCPassword')?.errors || passwordMismatch)">
          <div *ngIf="ChangePasswordForm?.get('confirmCPassword')?.errors?.['required']">Confirm Password is required</div>
          <div *ngIf="passwordMismatch">Passwords do not match</div>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="errorMessageLogin">{{errorMessageLogin}}</mat-error>

      <div style="margin-bottom: 4vh; display: flex;">
        <!-- Update Password Button -->
        <div class="applyFilter addDesktop position-relative text-start">
          <button type="button" class="btn btn-dark btnGradient ad"
                  (click)="onChangePasswordSubmit()"
                  style="margin-left: 17vh;">
            Update Password  <span class="position-absolute vmiddleLeft text-white iconPositionLeft"><img src="/assets/icon-add-desktop.svg" style="width: 2vh;margin-top: 1.2vh;"></span>
          </button>

        </div>

        <!-- Cancel Button -->
        <div class="modal-footer modalFooter">
          <button type="button" class="btn btn-secondary modalCancelBtn"
                  id="cancel"
                  style="width: 9vh; height: 5vh;margin-left: 1vh;"
                  mat-dialog-close>
            Cancel
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
<div style="    height: 40vh;
display: flex
;
flex-direction: column;
justify-content: space-between;
width: 30vw;" *ngIf="changepasswordOTPFlag">
  <!-- Toolbar -->
  <mat-toolbar style="display: flex; justify-content: space-between; align-items: center;
                      background-image: linear-gradient(to left, #009873, #0B65A0);">
    <div style="padding-left: 10px;">OTP</div>
    <button mat-icon-button title="Close" cdkFocusInitial mat-dialog-close>
      <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
    </button>
  </mat-toolbar>

  <!-- Form Fields Section -->
  <!-- <div class="data-container" style="padding: 2rem;"> -->
    <div class="logincontent" >

      <div class="lgn-head mb-3">
        Enter One Time Password
      </div>

      <div class="input-field mt-4">
        <input *ngFor="let digit of inputsArray; let i = index" class="otp" type="text" maxlength="1"
          autocomplete="off"
          [id]="'digit' + (i + 1)"
          [(ngModel)]="otpDigits[i]"
          [disabled]="otpDisable"
          (ngModelChange)="onDigitChanged(i, $event)"
          (keydown)="onBackspaceKey($event, i)" />
      </div>

      <!-- <div class="errorTxt text-center mt-2">
        <span *ngIf="OTPmessage" [ngClass]="!OTPsuccess ? 'error' : 'success'">{{ OTPmessage }}</span>
      </div> -->

      <div class="mt-5 align-middle text-end w-100" style="    margin-top: 2vh;">
        <mat-error *ngIf="apierrorOTP">{{apierrorOTP}}</mat-error>
        <button type="submit" class="btn btn-primary btnlgreen sendotp px-4 py-2 mb-2"
          [disabled]="disableButton"
          (click)="sendOTP()">{{ ButtonForOTP }}</button>
        <button type="submit" class="btn btn-primary btnlgreen verifyotp px-4 py-2 mb-2"
        [disabled]="disableButtonOtp"
          (click)="verifyOTP()">Verify OTP</button>
        <div *ngIf="ButtonForOTP === 'Resend OTP' && isTimer" class="resendTxt text-center mt-2">
          Resend OTP in <span class="otperror">{{ timeRemaining }}</span>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
