.table-bg-header-color {
  background-color: #E7E7E7;
}

.example-container {
  height: 464px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-row:hover {
  background: #cedbec;
}

::ng-deep .metric mat-dialog-container{
  padding: 0px !important;
}

.mat-tool-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

::ng-deep.mat-dialog-container {
  padding: 0px;

}

.mat-table-padding {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

::ng-deep.mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep.mat-table {
  overflow-x: scroll;
}

::ng-deep.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 100;
}

table {
  width: 100%;
}

.data-container {
  height: 467px;
  max-width: 100%;
  overflow: auto;
}

.mat-table-padding tr:hover td {
  background: #cedbec;
}
.mat-table-padding tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  z-index: 1 !important;
}
