.lpFooter {
  background: linear-gradient(90deg, #0A58A0 0.57%, #1DA34A 100%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  line-height: 2;
  font-size: 90%;
}

.vmiddleLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
