.dragNdrop {
    background: #D9E5E9 url(../../../../../../../assets/images/icon-upload.svg); 
    background-position: center center; 
    background-repeat: no-repeat;  
    background-size: 16%; 
    height: 10vh; 
    width: 66%;
}
