@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open Sans Condensed:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-weight: normal;
    zoom: reset;
	font-family: "Roboto Condensed", sans-serif;
	
  }
  
  :root {
    touch-action: pan-x pan-y;
    height: 100% 
  }
  
  html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
    zoom: reset;
  }
  
  body {
    background: #F5F5F5 url(../images/login-bg.png) no-repeat top left !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.8vw;
    color: #333;
    height: 100vh;
    touch-action: pan-x pan-y;
    zoom: reset;
    background-size: cover !important;
  }

  .loginbox {
    position: absolute;
    height: 24vh;
    width:20em;
    top: 35%;
    right: 3%;
    transform: translate(0, -50%);
  }

  /* FORM */
  .srhposition {
    left: 0;
    top: 0;
    transform: translate(0,12%);
  }
  .searchtxtbox {
    border: 1px solid #676767;
    border-radius: 3vw;
    color: #676767;
    background: #fff;
    outline: none;
    padding: 3%;
    padding-left: 5%;
    font-weight: 400 !important;
    font-size: 100% !important;
  }
  
  .searchtxtboxicon {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
    color: #737373;
    font-size: 120%;
    font-size: 400;
  }


button, 
input, 
optgroup, 
select, 
textarea
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
    font-size: 100% !important;
}

.fldcolor, .fldcolor:focus, .fldcolor:focus-visible, input.fldcolor:focus, input.fldcolor:focus-visible {
  background-color: #e6e6e6;
  /* border: 1px solid #676767; */
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 0.375rem 0.75rem;
  border-radius: .3em !important;
  font-size: 100% !important;
}

/* FFF */
.input-field {
  position: relative;
  /* width: 250px;
  height: 44px; */
  line-height: 2.2;
  width: 100%;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  transition: 0.2s all;
  cursor: text;
  padding: 0.5em 0.6em;
  font-size: 100%;
}

.input-field input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5em 0.2em;
  /* border-bottom: 2px solid #d3d3d3; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  color: #111;
  background-color: #fff;
  border-radius: 0.3em;
}

.input-field select {
  width: 100%;
  border: 0;
  outline: 0;
  padding: .9em 0.2em;
  /* border-bottom: 2px solid #d3d3d3; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  color: #111;
  background-color: #fff;
  border-radius: 0.3em;
}
.otp{width:15% !important; text-align:center; font-size:120% !important;}
.otp:last-child{margin-right:0 !important;}

.input-field input:invalid {
  outline: 0;
}

.input-field input:focus,
.input-field input:valid {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: -1em;
  color: #1370DC;
  font-size: 70%;
}
/* HHHHH */

textarea.fldcolor {
  height: 14vh;
}

.btndipblue, .btndipblue:hover, .btngrey, .btnlgreen, .btngreen:hover, .btnlgreen:hover, .btngreen:active, .btnlgreen:active, .btn-primary:not(:disabled):not(.disabled):active, .btn.focus, .btn:focus, .btn-secondary:not(:disabled):not(.disabled):active, .btnlred:hover, .btnlred:active, .btnlred {
  border: none;
  color: #fff;
  font-weight: 400;
  box-shadow: none;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); */
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
}

.btndipblue, .btndipblue:hover {
  background-color: #2470A3 !important;
  border-radius: 0.2em;
  color: #fff;
  border: none;
}

.btngrey, .btngrey:active, .btngrey:hover, .btngrey:focus, .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #DBDBDB !important;
  border-radius: 0.2em;
  color: #000;
  border: none;
}



.btnblue, .btnblue:hover {
  background-color: #94C8EB !important;
  border-radius: 0.2em;
  border: none;
  color: #000;
}

.btnlgreen, .btngreen:hover, .btngreen:focus {
  background-color: #A6CEE8 !important;
  border-radius: 0.2em;
  border: none;
  color: #000;
  line-height: 2.2;
}

.btnlogin {
    background-color: #2470A3 !important;
    color: #fff;
}

.btncancel {background-color: transparent !important; color: #000;}
.btncancel:focus	 {box-shadow: none !important;color: #000;}

.sendotp {background-color: #FF722C !important; color: #fff;}
.verifyotp {background-color: #6C119E !important; color: #fff;}

.btnlred {
  background-color: #D23838 !important;
  border-radius: 0.2em;
  border: none;
}

.checkbox {
  width: 100%;
  /* margin: 15px auto; */
  position: relative;
  display: block;
}
 .checkbox label {
  position: relative;
  min-height: 3vh;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 4px; */
  width: 5vh;
  height: 5vh;
  transition: transform 0.28s ease;
  border-radius: 0.3em;
  border: 1px solid #737373;
  background-color: #FFC759;
}
.checkbox label:after {
  content: "";
  display: block;
  width: 1.5vh;
  height: 0.8vh;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 61%;
  left: 28%;
}
.checkbox input[type=checkbox] {
  width: auto;
  opacity: 1e-8;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox input[type=checkbox]:checked ~ label:before {
  border: 1px solid #737373;
  background-color: #FFC759;
}
.checkbox input[type=checkbox]:checked ~ label:after {
  transform: rotate(-45deg) scale(1);
}
.checkbox input[type=checkbox]:focus + label::before {
  outline: 0;
} 

/* .checkbox.checkwhite label {
  min-height: 2vh;
} */

.checkbox.checkwhite label:before {
  background-color: transparent;
  width: 3vh;
  height: 3vh;
}

.checkbox.checkwhite label:after {
  width: 1vh;
  height: 0.6vh;
  top: 36%;
  left: 9%;
}

.checkbox.checkwhite input[type=checkbox]:checked ~ label:before {
  border: 1px solid #737373;
  background-color: transparent;
}

.login-success-msg{background-color:#E0FFE9; border:1px solid #269546; padding:.2em .5em; color:#07902F; font-size:110%;}
.login-failure-msg{background-color:#FFD3D3; border:1px solid #FF0000; padding:.2em .5em; color:#FF0000; font-size:110%;}
.showpwd{position:absolute; right:1em; cursor:pointer; top:50%; transform: translate(0, -50%);}
.lgn-head{font-size:120%; border-bottom:1px solid #000;}
.otpresend{font-size:90%; color:#747474;}





























