.close-button{
  float: right;
  top:0;
  right:0;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.mat-mdc-dialog-content {
  white-space: pre;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white !important;
}
.mat-mdc-dialog-title{
  margin: 0 0 20px;
  display: block;
  font-size: 20px;
  color: white !important;
}

.confirm-modal {
  background-color: #000000EE !important;
}


::ng-deep .icon-outside .close-button{
  float: right;
  top:0;
  right:0;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}

::ng-deep .mdc-dialog__surface {
  overflow: unset
}
