<div class="cardGen colorGeyGradient">
  <div class="cardBody bgwhite w-100 h-100 d-flex justify-content-start">
    <div class="w-60 h-100 px-2 py-3 position-relative">
      <div class="topheadCont">
      <h2><img src="./assets/images/icon-bcpc.svg" class="headingIcon" alt="BCP Coverage"> BCP Coverage</h2>
      <p class="cardParagraph bcpc mb-0">
        Coverage of Business
        Continuity Planning
        documentation across
        Business Functions
      </p>
      </div>
      <div class="bcpcContent">
        <div class="bcpcBtmContent w-100">
          <div class="mb-0" style="padding-bottom: 1vh; font-size: 2.5vh;">BCP Coverage Count</div>
          <div style="width: 20%;margin-left: -14vh;margin-top: 4.3vh;;margin-bottom: 8vh;" class=" position-relative">
            <span class="roundStatus nobcp"></span>
          </div>

          <div style="width: 20%;margin-left: -14vh;margin-top: -8vh;" class=" position-relative">
            <span class="roundStatus coverage" style="margin-top: 0.7vh;"></span>
          </div>
          <table class="ps-3 bcpcCountTable w-100">
            <tbody>
              <tr>
                <td>Not Covered: </td>
                <td><span>{{notCoveredBCP| leadingZeroFilter}}</span> functions</td>
              </tr>

              <tr>
                <td>Covered & Current : </td>
                <td><span>{{CoveredBCP| leadingZeroFilter}}</span> functions</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w-40 h-100 bcpcoverrageGrap bgBlueGrey position-relative p-1 text-center">
      <div *ngIf="!noData" id="bcpCoverage" style="height: 33.4vh;"></div>
      <div *ngIf="noData" class="h-100 d-flex justify-content-center align-items-center"><span>No Data Avaliable</span></div>
    </div>
  </div>
</div>
